In [5]:
from scipy import integrate 
f = lambda x: x**2
integ = integrate.quad(f,0,1)
print(integ) #1st val = solution to integ, 2nd est. error

(0.33333333333333337, 3.700743415417189e-15)

In [1]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [11]:
import numpy as np
import pandas as pd

first_series = pd.Series(list('abcdef'))
print(first_series) #indexes data into 1D list
val = first_series.values
print('\nValue of series into array = ',val) 
print("\n Series values * 3 =\n\n",first_series*3,end=",")

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

Value of series into array =  ['a' 'b' 'c' 'd' 'e' 'f']

 Series values * 3 =

 0    aaa
1    bbb
2    ccc
3    ddd
4    eee
5    fff
dtype: object,

In [30]:
import pandas as pd
olypic_city = {'HostCity':['London', 'Beijing', 'Athens','Sydney','Atlanta'],
'Year':[2012,2008,2004,2000,1996],
'No. of participatin countries':[205,204,201,200,197]
}
df = pd.DataFrame(olypic_city)
print(df)
df.Year #list only specified column
df.describe

  HostCity  Year  No. of participatin countries
0   London  2012                            205
1  Beijing  2008                            204
2   Athens  2004                            201
3   Sydney  2000                            200
4  Atlanta  1996                            197

<bound method NDFrame.describe of   HostCity  Year  No. of participatin countries
0   London  2012                            205
1  Beijing  2008                            204
2   Athens  2004                            201
3   Sydney  2000                            200
4  Atlanta  1996                            197>

In [29]:
olypic_city = {'London': {2012:205}, 'Beijing':{2008:204}}
df = pd.DataFrame(olypic_city)
df

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

In [33]:
S = pd.Series(np.random.randn(0))
print("Is the Object empty?")
print(S.empty)

Is the Object empty?
True

In [44]:
S = pd.Series(np.random.randn(4))
print(S.ndim) #dims of array
print(S.size)
print(S)
print(S.values)
print(S.head(2)) #same of S.tails

1
4
0   -0.567539
1   -0.119376
2    1.821775
3   -0.062031
dtype: float64
[-0.5675386  -0.11937638  1.82177497 -0.0620313 ]
0   -0.567539
1   -0.119376
dtype: float64

In [49]:
d = {'Name':pd.Series(['Tom', 'James', 'Ricky','Vin', 'Steve', 'Smith', 'Jack']), 'Age':pd.Series([25, 26, 25, 23, 30, 29, 23]), 'Rating':pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8])}

df = pd.DataFrame(d)
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [54]:
print(df.T) #Transpose table
print('\n',df.dtypes) #gives types

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

 Name       object
Age         int64
Rating    float64
dtype: object

In [56]:
print(df.empty)

False

In [61]:

print("num of dims",df.ndim)
print("The row and col of data",df.shape)

num of dims 2
The row and col of data (7, 3)

In [63]:
print(df.values)

[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [68]:
from datetime import date
today = date.today()
print('Year:', today.year)
print('Day:', today.day)
print('Month:', today.month)
print(today)

Year: 2023
Day: 28
Month: 2
2023-02-28

In [70]:
import pandas as pd
import numpy as np
df = pd.read_csv('../Datasets/LVC Datasets/Lesson_3/driver-data.csv')
df.info

<bound method DataFrame.info of      id,mean_dist_day,mean_over_speed_perc
0                      3423311935,71.24,28
1                      3423313212,52.53,25
2                      3423313724,64.54,27
3                      3423311373,55.69,22
4                      3423310999,54.58,25
...                                    ...
3995                  3423310685,160.04,10
3996                   3423312600,176.17,5
3997                  3423312921,170.91,12
3998                   3423313630,176.14,5
3999                   3423311533,168.03,9

[4000 rows x 1 columns]>