In [3]:
import pandas as pd

data = pd.DataFrame({
    'Age':[12, 34, 56, 22, 24, 35],
    'Income': ['Low','Low','High','Medium','Medium','High']
})
data  #

   Age  Income
0   12     Low
1   34     Low
2   56    High
3   22  Medium
4   24  Medium
5   35    High

In [5]:
data.Income.map({'Low':1, 'Medium':2, 'High':3}) #give table of L,M,H index as 1,2,3

0    1
1    1
2    3
3    2
4    2
5    3
Name: Income, dtype: int64

In [11]:
import pandas as pd
df_adv_data = pd.read_csv('Datasets/OSL Datasets/Advertising.csv', index_col=0)
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [13]:
df_adv_data.size #total number of entries

800

In [15]:
df_adv_data.shape #rows (observations), columns

(200, 4)

In [17]:
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [22]:
X_feat = df_adv_data[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]
X_feat.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [25]:
Y_target = df_adv_data[['Sales ($)']]
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [28]:
print("X_feat:", X_feat.shape)
print("Y_target:", Y_target.shape) #checking all observ contained

X_feat: (200, 3)
Y_target: (200, 1)

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test, = train_test_split(X_feat, Y_target, random_state=1)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [33]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [36]:
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [38]:
Y_pred = linreg.predict(x_test) 
Y_pred  #give

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [39]:
from sklearn import metrics
import numpy as np
print(np.sqrt(metrics.mean_squared_error(y_test, Y_pred))) #give mean squared error

1.404651423032896